<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Cryptography</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h2>Encrypt File</h2>

        <form action="/encrypt"
              method="POST"
              enctype="multipart/form-data">

            <div>

                <input type="file"
                       name="file"
                       required>

                <br><br>

                <input type="password"
                       name="password"
                       placeholder="Enter Password"
                       required>

                <br><br>

                <button type="submit">
                    Encrypt File
                </button>

            </div>

        </form>

        <hr>

        <h2>Decrypt File</h2>

        <form action="/decrypt"
              method="POST"
              enctype="multipart/form-data">

            <div>

                <input type="file"
                       name="file"
                       required>

                <br><br>

                <input type="password"
                       name="password"
                       placeholder="Enter Password"
                       required>

                <br><br>

                <button type="submit">
                    Decrypt File
                </button>

            </div>

        </form>

    </div>

</body>

</html>